/* Start Main Rules */
body{
    margin: auto; background-color:#141422;
    background-image: url("../images/back.png");
  }
  .container{ margin: auto; width: 1070px;
  }
  .clearfix{clear: both}
  /* Ens Main Rules */
  
  
  
  /* Ens Main Rules */
  
  /* Start Header*/
  /*.Header .Slider{height: 315px; ;}*/

 
  .Header .Navbar{  background-color: #0d0d16; color: white; overflow: hidden; }
  
  .Header .Navbar h2{ color: #ffffff; float: left; padding: 0px; margin: 6px 0px 0px -32px}
  
  .Header .Navbar ul{ list-style: none; padding-left: 0; overflow: hidden; float: right;}
  
  .Header .Navbar ul li{ padding: 0px;    margin-left: 30px; float: left;}

  li button {
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    border-radius: 4px;
    color: #cc1d5d;
    background: #0d0d16;
    font-size: 16px;
    height: 28px;
    width: 95px;
    border-color: #cc1d5d;
}
.Header .Navbar ul li button a {
    color: #cc1d5d;
}


.Header .Navbar h2{ color: #ffffff; float: left; padding: 0px; margin: 6px 0px 0px -32px}

.Header .Navbar ul{ list-style: none;
    margin-top: 15px;
    padding-left: 0;
    overflow: hidden;
    float: right;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    font-size: 17px;}

.Header .Navbar ul li{ padding: 0px;  
      margin-left: 30px; float: left;}
.Header .Navbar ul li a{
    color: white;
    text-decoration: none;
}





  .part1 .paragraph1 h2{
    
    color: aliceblue;
    font-size: 30px;
    padding: 17px;
    text-align: center;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
    
}

.signform form{
    width: 279px;
    margin-bottom: 26px;
    float: right;
    border-radius: 12px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
   
}

.signform .signin h1{
    color: #ffffff;
    margin-left: 91px;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}


.signup a{
     color: #cc1d5d;
    text-decoration: none;
  }
  
  
  .signup button {
      margin-bottom: 5px;
  
 
      width: 37%;
      height: 33px;
      border-radius: 4px;

      font-size: 18px;
      position: relative;
      left: 30%;

      font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
      border-radius: 4px;
      color: #cc1d5d;
      background: #0d0d16;
      font-size: 16px;
    
      border-color: #cc1d5d;
  }
  .signform form img{
      margin-bottom: 1%;
      margin-left: 30%;
      margin-top: -25%;
      border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;
  }
  
  .signform form input[placeholder="Email OR Your Phone"],
  input[placeholder="password"]{
    width: 96%;
    margin-top: 16px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 0px #999;
    -webkit-box-shadow: 0px 3px 0px #999;
    height: 35px;
    padding-left: 6px;
    font-size: 14px;
  }
  
  
    .signform form button[type='submit'] {
     
      margin-top: 16px;
      text-align: center;
      border: none;
      width: 37%;
      height: 33px;
      border-radius: 4px;

      font-size: 18px;

      position:relative;
      left: 30%;

      font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
      
      color: #ececec;
      background: #0d0d16;
      font-size: 16px;
   
     background-color: #cc1d5d
    }
  
    .signform  form img {
    margin-top: -6px;
    width: 188px;
    margin-left: 39px;
}

    .or h2 {
        color: #ffffff;
        margin-left: 117px;
    }
    
    .part1 .image1 img {
        
        margin-bottom: 10px;
        margin-top: -155px;
    }
  /*End Part2*/
  .rideimg img {
      float: left;
      width: 475px;
  }

.describe1{
    overflow: hidden;
}

  .describe1 .dialo  {
    width: 30.3333%;
    float: left;
    height: 150px;
    color: white;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 4px;
    line-height: 1.71429;
  }


.disc h2{
      color: white;
      text-align: center;
  }


  .describe1 .selectimg img{
    margin-left: 305px;
    padding: 5px;
    width: 480px;
  }


  .part2 .container .title h2{
      color: white;
      text-align: center;
  }

  .part2 .container .mappicture img {
    float: left;
    margin-left: -306px;
    width: 308px;
    margin-top: 120px;

  }

  .part2 .container .above h2 {
    float: left;
    margin-top: 52px;
    color: white;
    font-size: 30px;
    font-family: monospace;
  }


  .part4 .container  {

    color: white;
    line-height: 21px;

  }


  .part4 .container .appt h2 {
    color: white;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 32px;

}

.part4 .app {
    margin-left: -200px;
    float: left;
    font-size: 19px;
    margin-top: 66px;
}

.request h2{ 
    float:left;
}

a{
    color: white;
    text-decoration: none;
  }

/* .foote {
    background-color: black;
    height: 50px;
}


.foote .container .copy  {
    color: white;
    list-style: none;
     padding-left: 0;
      overflow: hidden; 
      float: left;
      margin: 0 px;
      padding: 0 px;
      margin-top: 13px;
}


.foote .container .terms ul{
    color: white;
    list-style: none;
     padding-left: 0;
      overflow: hidden; 
      margin: 0 px;
      padding: 0 px;
}

.foote .container .terms ul li{
    float: right;
    
    margin-left: 40px;
    padding: 0 px;
    margin-top: 13px;
} */


footer  {
    list-style: none;
    height: 100px;
    font-family: sans-serif;
    font-size: 13px;
    width: 100%;
    color: white;
    /* background-color: black; */
    text-align: center;
}
.foo{
    margin-top: 10px;
}

.copy  {
  font-size: 15px;
  font-weight: bold;
}
.terms  {

  display: inline-block;
  color: #bd1e5e;
  margin-left: 0.25em;
  margin-right: 0.25em;
  line-height: 1;
  padding: 0.5em 0.75em;
  font-size: 15px;
  font-weight: bold;
}
